/* top navigation */
.topnav {
  overflow: hidden;
  background-color: #333;
  font-size: 16px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.container h1 {
  width: 100%; /* add this line to make the text span the full width of the container */
}
  
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

h1 {
  font-size: 55px;
  text-align: center;
  margin: 0;
}
  
h3 {
  font-size: 18px;
  text-align: center;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
  
.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: 20px;
}
  
.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
  
img {
  border-radius: 50%;
  width: 200px; /* adjust the size to fit your images */
  height: 200px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin-top: 40px;
}

.team-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px; /* Add more margin for more space */
  max-width: 200px;
  text-align: center;
}

.team-avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.team-name {
  font-size: 24px;
  margin: 0;
  color: #333;
}

.team-title {
  font-size: 18px;
  margin: 0;
  color: #666;
}

.center-dialog {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.swal2-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}