<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/style2.css" />
</head>
<body>
    <!-- Top Navigation -->
    <div class="topnav">
        <a href="/">Fact Check</a>
        <a href="/Report">Report</a>
        <a class="active"href="#about">About</a>
    </div>
    <h1>Meet the Facters</h1>
    <div class="container">
      
      <div class="team-container">
        <div class="team-circle">
          <img src="/static/images/carlo.jpg" alt="Carlo" class="team-avatar">
          <h4 class="team-name">Carlo Victor Almeda</h4>
          <p class="team-title">Software Engineer</p>
        </div>
        <div class="team-circle">
          <img src="/static/images/ljin.jpg" alt="Ljin" class="team-avatar">
          <h4 class="team-name">Ljin Donard Bartolo</h4>
          <p class="team-title">UX Designer</p>
        </div>
        <div class="team-circle">
          <img src="/static/images/kairone.jpg" alt="Kai" class="team-avatar">
          <h4 class="team-name">Kairone Natividad</h4>
          <p class="team-title">Product Manager</p>
        </div>
      </div>
      <div class="team-container">
        <div class="team-circle">
          <img src="/static/images/jennylinde.jpg" alt="Maam Jen" class="team-avatar">
          <h4 class="team-name">Ma'am Jennylinde Manaois</h4>
          <p class="team-title">Research Adviser</p>
        </div>
      </div>
    </div>
</body>
</html>